{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}{{ block.super }} {{tete.A_propos}} {% endblock %}
{{% block body %}


<link rel="stylesheet" href="{% static 'app/css/about.css' %}">
<link rel="stylesheet" href="{% static 'app/glide/glide.core.min.css' %}">
<link rel="stylesheet" href="{% static 'app/glide/glide.theme.min.css' %}">

<style>
#intro {
    background:#100e17 url("{{about.Photos_ArrierePlan.url}}") center ;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    background-attachment:fixed;
    width: 100%;
    height: 100%;
    position: relative;
    text-align:center;
    display:table;
}
</style>


<section id="intro">
     <div class="intro-overlay"></div>
    <div class="intro-content">
        <div class="row">
            <div class="col-twelve">
                <p class="intro-position">
                    <span>{{about.mini_phrase}}</span>
                </p>
                <h1>{{about.Phrase_principale}} <br>
		 <span class="txt-type" data-wait="1000" data-words='["{{about.mot_defilant_1}}", "{{about.mot_defilant_2}}", "{{about.mot_defilant_3}}"]'></span>
		</h1>
        </div>
        </div>
    </div>
</section>
<section class="s-content s-content--top-padding s-content--narrow">

    <div class="row narrow">
        <div class="col-full s-content__header">
            <h3 >{{about.Info_titre}} </h3>
            <p class="lead">

            {{about.Introduction | safe}}</p>

        </div>
        <hr>
    </div>

    <div class="col ">
      <h4>{{about.Titre_carte}}</h4>
      {% include 'webmap.html' %}
    </div>

<div class="row">
        <div class="">


            <div class="row block-1-2 block-tab-full">
                <div class="col-block">
                    <h4 class="quarter-top-margin">{{about.de_nous}}</h4>
                    <p>{{about.qui_Somme_Nous | safe}}</p>
                </div>

                <div class="col-block">
                    <h4 class="quarter-top-margin">{{about.missions}}</h4>
                    <p>{{about.nos_Missions | safe}}</p>
                </div>

                <div class="col-block">
                    <h4 class="quarter-top-margin">{{about.vision}}</h4>
                    <p>{{about.notre_Vision | safe}}</p>
                </div>

                <div class="col-block">
                    <h4 class="quarter-top-margin">{{about.valeurs}}</h4>
                    <p>{{about.nos_Valeurs | safe}}</p>
                </div>

            </div>

        </div>


</div>

    <hr>


</section> <!-- end s-content -->

<script src="{% static 'app/glide/glide.min.js' %}"></script>
<script>
  const config= {
    type: 'carousel',
    perView: 3,

    breakpoints: {
      1024:{
        perView: 2
      },
      600: {
        perView: 2
      }
    },
    peek: {
    before: 20,
    after: 50
  }
  };
  new Glide('.glide', config).mount()
</script>

{% endblock %}
