{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}{{ block.super }} {{tete.Actualite}} {% endblock %}
{{% block body %}
    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="{% static 'blog/css/base_blog.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/vendor_blog.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/main_blog.css' %}">

    <!-- script <script src="js/modernizr.js"></script>
    ================================================== -->


</head>
<body id="top">



    <!-- s-content
    ================================================== -->
    <section class="s-content s-content--top-padding s-content--narrow">

        <article class="row entry format-standard">

            <div class="col-full s-content__header">
                <div class="entry__post-thumb">
                  <p class="imgblg">
                    <img src="{{presdet.Photo.url}}"
                         srcset="{{presdet.Photo.url}} 2000w,
                                 {{presdet.Photo.url}} 1000w,
                                {{presdet.Photo.url}} 500w"
                         sizes="(max-width: 2000px) 100vw, 2000px" alt="">
                         </p>
                </div>
            </div>

            <div class="entry__header col-full">
                <h1 class="entry__header-title display-1">
                    {{presdet.Titre}}
                </h1>
                <ul class="entry__header-meta">
                </ul>
            </div>

            <div class="col-full entry__main">

                <p class="lead drop-cap">{{presdet.Contenu | safe}}</p>

            </div> <!-- s-entry__main -->
            <div class="col-full entry__main">


        <!--       <div class="entry__author">
                    <img src="{{about.Photo_Personel.url}}" alt="">

                    <div class="entry__author-about">
                        <h5 class="entry__author-name">
                            <span>Posted by</span>
                            <a href="#0">{{presdet.auteur}}</a>
                        </h5>

                        <div class="entry__author-desc">
                            <p>
                            {{about.qui_Somme_Nous | safe}}
                            </p>
                        </div>
                    </div>
                </div -->

            </div> <!-- s-entry__main -->

        </article> <!-- end entry/article -->



    </section> <!-- end s-content -->

    <script src="{% static 'blog/js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'blog/js/plugins.js' %}"></script>
    <script src="{% static 'blog/js/main.js' %}"></script>
{% endblock %}
