{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}{{ block.super }} {{tete.Actualite}} {% endblock %}
{{% block body %}
    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="{% static 'blog/css/base_blog.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/vendor_blog.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/main_blog.css' %}">
    <link rel="stylesheet" href="{% static 'app/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'app/glide/glide.core.min.css' %}">
    <link rel="stylesheet" href="{% static 'app/glide/glide.theme.min.css' %}">

    <!-- script <script src="js/modernizr.js"></script>
    ================================================== -->
<style>

  .codehub-intro h1 {
    padding-top: 15%;
  }
@media screen and (min-width: 1300px){
  .codehub-intro h1 {
    padding-top: 10%;
  }}
@media screen and (max-width: 375px){
    .codehub-intro .codehub-section {
    margin-bottom: -8rem;
}}
@media screen and (max-width: 600px){
    .codehub-intro .codehub-section {
    margin-bottom: -8rem;
}}
h1, .h1{
  font-size: 3.6rem;
}
.info{
  margin-bottom: 0rem;
}

</style>
<body id="top">



    <!-- s-content
    ================================================== -->
  <section id="codehub-intro">
        <div class="codehub-intro ">
            <h1 class="header_pres">{{Accueil.prestations_section}}</h1>

              <div class="codehub-content ">
                <div class="glide">
                  <div class="glide__track" data-glide-el="track">
                    <ul class="glide__slides">
                      {% for s in serv %}
                      <li class="glide__slide">
                        <div class="codehub-section ">

                       <span class="icon"><a href="{% url 'presdetails' s.id %}"> <i class="{{s.Icon}}"></i></a> </span>
                        <h5><a href="{% url 'presdetails' s.id %}">{{s.Titre}}</a></h5>
                        <h4 class="desc"><a href="{% url 'presdetails' s.id %}">{{s.Description}}</a></h4>

                    </div></li>
                    {% endfor %}

                </ul>
              </div>
              <div class="glide__arrows" data-glide-el="controls">
              <button class="glide__arrow glide__arrow--left " data-glide-dir="<"> <i class="fas fa-arrow-left"></i></button>
              <button class="glide__arrow glide__arrow--right" data-glide-dir=">"> <i class="fas fa-arrow-right"></i></button>
            </div>
            </div>

            </div>

        </div>
        <div class="separator">
        <img src="{% static 'app/img/crosshair-long2.png' %}" alt=""class="separator" > </div>
    </section>
<!-- ====================================================================================  -->
<section class="s-content s-content--top-padding s-content--narrow">

    <div class="row narrow">
        <div class="col-full s-content__header">
            <h2 class="info">{{presdet.Titre}} </h2>
            <p class="lead">

            {{presdet.Introduction | safe}}</p>

        </div>
        <hr>
    </div>

<div class="row">
        <div class="">


            <div class="row block-1-2 block-tab-full">
                <div class="col-block">
                    <h3 class="quarter-top-margin info">{{presdet.sous_titre1}}</h3>
                    <p>{{presdet.par1 | safe}}</p>
                </div>

                <div class="col-block">
                    <h3 class="quarter-top-margin info">{{presdet.sous_titre2}}</h3>
                    <p>{{presdet.par2 | safe}}</p>
                </div>

                <div class="col-block">
                    <h3 class="quarter-top-margin info">{{presdet.sous_titre3}}</h3>
                    <p>{{presdet.par3 | safe}}</p>
                </div>

                <div class="col-block">
                    <h3 class="quarter-top-margin info">{{presdet.sous_titre4}}</h3>
                    <p>{{presdet.par4 | safe}}</p>
                </div>
                <div class="col-block">
                    <h3 class="quarter-top-margin info">{{presdet.sous_titre5}}</h3>
                    <p>{{presdet.par5 | safe}}</p>
                </div>
                <div class="col-block">
                    <h3 class="quarter-top-margin info">{{presdet.sous_titre6}}</h3>
                    <p>{{presdet.par6 | safe}}</p>
                </div>

            </div>

        </div>
<br><br>
<div class="col-full s-content__header">
    <div class="entry__post-thumb">
      <p class="imgblg">
        <img src="{{presdet.Photo.url}}"
             srcset="{{presdet.Photo.url}} 2000w,
                     {{presdet.Photo.url}} 1000w,
                    {{presdet.Photo.url}} 500w"
             sizes="(max-width: 2000px) 100vw, 2000px" alt="">
             </p>
    </div>
</div>

</div>


</section> <!-- end s-content -->





<script src="{% static 'blog/js/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'blog/js/plugins.js' %}"></script>
<script src="{% static 'blog/js/main.js' %}"></script>
<script src="{% static 'app/glide/glide.min.js' %}"></script>
<script>
      const config= {
        type: 'carousel',
        perView: 5,

        breakpoints: {
          1024:{
            perView: 3
          },
          600: {
            perView: 2
          }
        },
        peek: {
        before: 20,
        after: 50
      }
      };
      new Glide('.glide', config).mount()
</script>
{% endblock %}
