{% load static %}
<header>
    <div class="bg_pic"></div>
    <div class="logo_left">
        <a href="{% url 'home' %}"></a>
    </div>
    <div class="navbar-wrapper">
         <div class="container">
             <div class="navbar navbar-default navbar-static-top" role="navigation">
                 <div class="container-fluid">
                     <div class="navbar-header">
                         <button type="button" class="navbar-toggle nav-button" data-toggle="collapse" data-target=".navbar-collapse"
                         aria-controls="navbarSupportedContent20" aria-expanded="false" aria-label="Toggle navigation">
                         <div class="animated-icon1"><span></span><span></span><span></span></div>
                         </button>
                     </div>
             <div class="navbar-collapse collapse" id="navbarSupportedContent20">
                 <ul class="nav navbar-nav navbar-right">
                     <li><a href="{% url 'home' %}"  title="Accueil">{{menu.Accueil}}</a></li>
                     <li><a href="{% url 'about' %}"  title="A propos">{{menu.A_propos}}</a></li>
                     <li><a href="/home#codehub-intro" target="_blank" title="Nos prestations">{{menu.Prestations}}</a></li>
                     <li><a href="{% url 'contact' %}"  title="Contact">{{menu.Contact}}</a></li>
                     <li><a href="{% url 'portfolio' %}"  title="portfolio">{{menu.Actualite}}</a></li>


                    <!--<li> <form class="">
      <input class="form-control" type="text" placeholder="Search" aria-label="Search">
    </form></li> -->

                 </ul>
             </div>

             </div></div></div>
         </div>

</header>
